{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% extends "main/base/single_column.html" %}
{% load trans from i18n %}

{% comment %}
 %
 % Context:
 %  -- form: chcemvediet.apps.inforequests.forms.InforequestForm
 %
{% endcomment %}


{% block title %}{% trans 'inforequests:create:title' %} | {{ block.super }}{% endblock %}

{% block content %}
  <form class="form-horizontal" method="post" action="">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-8">
        <h1>{% trans 'inforequests:create:heding' %}</h1>
        {% include "inforequests/create/texts/main.html" %}
      </div>
      <div class="col-md-4 chv-pull-right-md">
        <div class="panel chv-scheme-gray">
          <div class="panel-body">
            {% include "inforequests/create/texts/sidebar.html" %}
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-group">
          <label class="control-label col-sm-3">
            {% trans 'inforequests:create:applicant_label' %}
          </label>
          <div class="col-sm-9">
            {% with name=user.get_full_name street=user.profile.street %}
              {% with zip=user.profile.zip city=user.profile.city %}
                {% include "inforequests/create/snippets/applicant_field.html" %}
              {% endwith %}
            {% endwith %}
          </div>
        </div>
        {% include "main/forms/form_horizontal.html" %}
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-primary pln-with-tooltip" name="button"
                    value="submit" data-toggle="tooltip" title="{% spaceless %}
                      {% include "inforequests/create/tooltips/submit.txt" %}
                      {% endspaceless %}">
              {% include "main/snippets/icons/chv-diag.html" with class="chv-icon-lg" %}
              &nbsp;
              {% trans 'inforequests:create:submit' %}
            </button>
            &nbsp;
            <button type="submit" class="btn btn-default pln-with-tooltip" name="button"
                    value="draft" data-toggle="tooltip" title="{% spaceless %}
                      {% include "inforequests/create/tooltips/draft.txt" %}
                      {% endspaceless %}">
              <i class="chv-icon chv-icon-lg icon-floppy"></i>
              &nbsp;
              {% trans 'inforequests:create:draft' %}
            </button>
            <a class="btn btn-link pull-right pln-with-tooltip"
               href="{% url 'inforequests:index' %}" data-toggle="tooltip" title="{% spaceless %}
                 {% include "inforequests/create/tooltips/cancel.txt" %}
                 {% endspaceless %}">
              <i class="chv-icon chv-icon-lg icon-cancel"></i>
              {% trans 'inforequests:create:cancel' %}
            </a>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
