{# vim: set filetype=htmldjango :#}
{% extends step.base_template %}
{% load trans from i18n %}

{% comment %}
 %
 % Context:
 %  -- wizard: chcemvediet.apps.inforequests.forms.appeals.AppealWizard
 %  -- step: chcemvediet.apps.inforequests.forms.appeals.common.AppealStep
 %  -- inforequest: chcemvediet.apps.inforequests.models.Inforequest
 %  -- branch: chcemvediet.apps.inforequests.models.Branch
 %  -- last_action: chcemvediet.apps.inforequests.models.Action
 %
{% endcomment %}

{% block title %}{% trans 'inforequests:appeals:title' %} | {{ block.super }}{% endblock %}

{% block header-heading %}{% trans 'inforequests:appeals:heading' %}{% endblock %}

{% block footer-cancel-href %}{{ inforequest.get_absolute_url }}{% endblock %}

{% block body %}
  {% if inforequest.has_undecided_emails %}
    <div class="alert alert-block alert-error">
      {% include "inforequests/appeals/texts/undecided_alert.html" %}
    </div>
  {% endif %}
  {{ block.super }}
{% endblock %}

{% block body-plus-footer %}
  <div class="row">
    <div class="span8">
      {{ block.super }}
    </div>
    <div class="span4">
      {% include "inforequests/accordion/accordion.html" %}
    </div>
  </div>
{% endblock %}
