{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% extends "main/base/single_column.html" %}

{% comment %}
 %
 % Context:
 %  -- page: poleno.pages.pages.Page
 %
{% endcomment %}


{% block title %}{{ page.title }} | {{ block.super }}{% endblock %}

{% block content %}
  {% if page.ancestors %}
    <ol class="breadcrumb">
      {% for ancestor in page.ancestors %}
        <li><a href="{{ ancestor.url }}">{{ ancestor.label }}</a></li>
      {% endfor %}
      <li class="active">{{ page.label }}</li>
    </ol>
  {% endif %}
  <div class="row">
    <div class="col-sm-9">
      {{ page.render }}
    </div>
    <div class="col-sm-3">
      <br>
      <ul class="nav nav-tabs nav-stacked">
        {% for subpage in page.subpages %}
          {% if not subpage.is_redirect and not subpage.is_disabled %}
            <li>
              <a href="{{ subpage.url }}">
                <span class="glyphicon glyphicon-chevron-right pull-right"></span>{{ subpage.label }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
