{# vim: set filetype=htmldjango shiftwidth=2 :#}

{% comment %}
 %
 % Context:
 %  -- None
 %
{% endcomment %}


{% with checkbox_id=idgenerator.next %}
  <div class="sg-container">
    <h2 id="components">
      <a class="sg-collapse-open" href="#components">Components</a>
      <a class="sg-collapse-close" href="#">Components</a>
    </h2>
    <div class="sg-collapse">
      <input id="{{ checkbox_id }}" class="sg-checkbox" type="checkbox">
      <label for="{{ checkbox_id }}">Show baseline</label>
      <div class="sg-grid">
        <div class="row">
          <div class="col-sm-4">{% include "styleguide/components/breadcrumbs.html" %}</div>
          <div class="col-sm-4">{% include "styleguide/components/bigstats.html" %}</div>
        </div>
        <div class="row">
          <div class="col-sm-4">{% include "styleguide/components/blog.html" %}</div>
          <div class="col-sm-4">{% include "styleguide/components/carousel.html" %}</div>
        </div>
      </div>
    </div>
  </div>
{% endwith %}
