{# vim: set filetype=htmldjango shiftwidth=2 :#}

{% comment %}
 %
 % Context:
 %  -- None
 %
{% endcomment %}


{% with stack="chv-icon-2x" circle="chv-hover-white" %}
  <a href="mailto:aj.ja@chcemvediet.sk">
    {% include "main/snippets/icons/circled.html" with icon="icon-mail" %}
  </a>
  <a href="https://twitter.com/chcemvedietsk">
    {% include "main/snippets/icons/circled.html" with icon="icon-twitter" %}
  </a>
  <a href="https://www.facebook.com/chcemvedietsk/">
    {% include "main/snippets/icons/circled.html" with icon="icon-facebook" %}
  </a>
{% endwith %}
