{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% load page from poleno.pages %}

{% comment %}
 %
 % Context:
 %  -- None
 %
{% endcomment %}


<li>
  <a href="#">
    <i class="chv-icon chv-icon-li icon-hammer chv-color-blue-l"></i>
    Podmienky
  </a>
</li>
<li>
  <a href="{% page "/faq/" %}">
    {% with stack="chv-icon-li" circle="chv-color-blue-l" icon="icon-help" %}
      {% include "main/snippets/icons/circled.html" %}
    {% endwith %}
    FAQ
  </a>
</li>
<li>
  <a href="{% page "/o-projekte/" %}#kto-je-za-tym">
    <i class="chv-icon chv-icon-li icon-user chv-color-blue-l"></i>
    Kto je za tým?
  </a>
</li>
<li>
  <a href="#">
    <i class="chv-icon chv-icon-li icon-euro chv-color-blue-l"></i>
    Podporte nás
  </a>
</li>
