{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% load trans from i18n %}

{% comment %}
 %
 % Context:
 %  -- None
 %
{% endcomment %}


{% with carousel_id=idgenerator.next %}
  <h2 class="text-center">{% trans 'main:homepage:didyouknow:heading' %}</h2>
  <div id="{{ carousel_id }}" class="carousel chv-carousel-blue slide" data-ride="carousel">
    {% include "main/homepage/didyouknow/list.html" %}
    <a class="left carousel-control" href="#{{ carousel_id }}" data-slide="prev">
      <span class="chv-icon icon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#{{ carousel_id }}" data-slide="next">
      <span class="chv-icon icon-chevron-right"></span>
    </a>
  </div>
{% endwith %}
