{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% extends "main/base/full_width.html" %}
{% load static from staticfiles %}
{% load page from poleno.pages %}
{% load split yes from poleno.utils %}

{% comment %}
 %
 % Context:
 %  -- users: int
 %  -- obligees: int
 %  -- inforequests: int
 %
{% endcomment %}

{% block content %}
  <div class="chv-scheme-inv-blue">
    <div class="container text-center">
      <div class="chv-above-1 chv-bellow-1 chv-maxw-45 center-block">
        <h1>Čo chceš <b>vedieť</b>?</h1>
        <form action=".">
          <div class="input-group">
            <input class="form-control" type="text"
                   placeholder="Hľadaj v už zodpovedaných infožiadostiach...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit">
                <i class="chv-icon icon-search chv-color-blue"></i>
              </button>
            </span>
          </div>
        </form>
        <p>
        ...alebo podaj infožiadosť cez tento portál.<br>
        Je to jednoduché:<br>
        </p>
      </div>
      <div class="row">
        <div class="col-sm-3 hidden-xs">
          <p class="lead">
            <a class="chv-block" href="{% url 'account_signup' %}">
              <img class="chv-height-5 img-responsive center-block" src="{% static "main/images/step01.svg" %}">
              <span class="chv-block chv-above-1 chv-bellow-2">
                <b>Zaregistruj sa</b>
              </span>
            </a>
          </p>
        </div>
        <div class="pull-left hidden-xs chv-above-2-half" style="">
          <i class="chv-icon chv-icon-2x chv-icon-zero-width icon-chevron-right chv-color-blue-d"></i>
        </div>
        <div class="col-sm-3 col-xs-6">
          <p class="lead">
            <a class="chv-block" href="{% url 'obligees:index' %}">
              <img class="chv-height-5 img-responsive center-block" src="{% static "main/images/step02.svg" %}">
              <span class="chv-block chv-above-1 chv-bellow-2">
                <b>Nájdi inštitúciu</b>
              </span>
            </a>
          </p>
        </div>
        <div class="pull-left chv-above-2-half" style="">
          <i class="chv-icon chv-icon-2x chv-icon-zero-width icon-chevron-right chv-color-blue-d"></i>
        </div>
        <div class="col-sm-3 col-xs-6">
          <p class="lead">
            <a class="chv-block" href="{% url 'inforequests:create' %}">
              <img class="chv-height-5 img-responsive center-block" src="{% static "main/images/step03.svg" %}">
              <span class="chv-block chv-above-1 chv-bellow-2">
                <b>Podaj infožiadosť</b>
              </span>
            </a>
          </p>
        </div>
        <div class="pull-left hidden-xs chv-above-2-half" style="">
          <i class="chv-icon chv-icon-2x chv-icon-zero-width icon-chevron-right chv-color-blue-d"></i>
        </div>
        <div class="col-sm-3 hidden-xs">
          <p class="lead">
            <a class="chv-block" href="{% url 'inforequests:index' %}">
              <img class="chv-height-5 img-responsive center-block" src="{% static "main/images/step04.svg" %}">
              <span class="chv-block chv-above-1 chv-bellow-2">
                <b>Čakaj pripomienku</b>
              </span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row chv-above-1 chv-bellow-1">
      <div class="col-md-4 col-sm-6 chv-justify">
        <h2 class="text-center">O čom to je?</h2>
        <p>
        Prístup k verejným informáciám je kľúčový pre kvalitu spravovania štátu. Dobrá vláda
        nepotrebuje žiadne tajnosti. Naopak, chce aby občania sledovali, ako nakladá s verejnými
        prostriedkami, ako obsadzuje voľné pozície, kto dostáva štátne zákazky a na čo, pretože im
        chce priniesť kvalitné a efektívne služby, a chce zamestnávať kvalifikovaných a šikovných
        ľudí, ktorí jej to pomôžu uskutočniť. Dobrá vláda chce, aby občania vedeli. Chcemvediet.sk je
        tu pre tu oboch.
        </p>
        <p>
        Chcemvediet.sk chce spraviť z infozákona nástroj využívaný širokou verejnosťou. Nástroj,
        ktorý budete radi používať aj vy.
        </p>
        <h3>Ako to funguje?</h3>
        <p>
        O informácie môže požiadať každý. Predtým, než pošlete žiadosť o informácie, zvážte, či sa
        naozaj jedná o žiadosť o informácie alebo ide o sťažnosť, ktorú upravuje iný zákon (č. 9/2010
        Z.z.). Ak ste presvedčený, že ide o žiadosť o informácie, pokračujte ďalej v používaní
        chcemvediet.sk.
        </p>
        <h3>Nájdite inštitúciu</h3>
        <p>
        Zaregistrujte sa, po vytvorení užívateľského účtu si vyberte zo zoznamu inštitúcií tú, na
        ktorú sa chcete obrátiť.
        </p>
        <h3>Pošlite žiadosť</h3>
        <p>
        Vyplňte formulár žiadosti o informáciu. Čím budete konkrétnejší, tým konkrétnejšia bude aj
        odpoveď inštitúcie, preto sa snažte čo najlepšie popísať, čo žiadate. O informácie môžete
        žiadať bez udania dôvodu. Po vyplnení formuláru žiadosť potvrďte a odošlite.
        </p>
        <h3>Čakajte na notifikácie</h3>
        <p>
        Po odoslaní žiadosti už len pohodlne čakajte na odpoveď inštitúcie. Nemusíte mať obavy, že
        zmeškáte nejakú dôležitú lehotu. Chcemvediet.sk vás na ňu upozorní v dostatočnom predstihu.
        A ak to bude potrebné, pomôže vám aj s odvolaním.
        </p>
        <div class="text-center chv-above-1">
          <a class="btn chv-btn-blue" href="{% page "/o-projekte/" %}">
            <i class="chv-icon icon-link-ext"></i>
            &nbsp;
            Chcem vedieť viac
          </a>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 hidden-xs">
        <h2 class="text-center">Prečo sa zaregistrovať?</h2>
        <p class="chv-justify">
        Registrácia je potrebná kvôli Vášmu pohodliu a kvôli potrebným formalitám:
        </p>
        <ul class="chv-icon-ul">
          <li>
            <i class="chv-icon chv-icon-li chv-icon-lg icon-home"></i>
            Ku každej žiadosti o informáciu je potrebné uviesť poštovú adresu
          </li>
          <li>
            <i class="chv-icon chv-icon-li chv-icon-lg icon-mail"></i>
            V prípade zamietnutia žiadosti Vám úrad pošle písomné rozhodnutie, nie email
          </li>
          <li>
            <i class="chv-icon chv-icon-li chv-icon-lg icon-print"></i>
            Ak budete posielať odvolanie, to musí byť tiež písomné (áno, na papieri - my sme si to
            nevymysleli)
          </li>
        </ul>
        <div class="text-center chv-above-1">
          <a class="btn chv-btn-wide chv-btn-inv-blue" href="{% url 'account_signup' %}">Registrácia</a>
        </div>
        <div class="text-center chv-above-1">
          <ul class="chv-icon-ul chv-inline text-left">
            <li>
              <a href="#">
                <i class="chv-icon chv-icon-li icon-hammer chv-color-blue-l"></i>
                Podmienky
              </a>
            </li>
            <li>
              <a href="{% page "/faq/" %}">
                <span class="chv-icon-stack chv-icon-li">
                  <i class="chv-icon icon-circle chv-color-blue-l"></i>
                  <i class="chv-icon chv-icon-half chv-icon-inv icon-help"></i>
                </span>
                FAQ
              </a>
            </li>
            <li>
              <a href="{% page "/o-projekte/" %}#kto-je-za-tym">
                <i class="chv-icon chv-icon-li icon-user chv-color-blue-l"></i>
                Kto je za tým?
              </a>
            </li>
            <li>
              <a href="#">
                <i class="chv-icon chv-icon-li icon-euro chv-color-blue-l"></i>
                Podporte nás
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 text-center">
        <h2>Prihlásenie</h2>
        <form class="form-horizontal" method="post" action="{% url 'account_login' %}">
          {% csrf_token %}
          <div class="form-group">
            <div class="col-sm-12">
              <div class="chv-maxw-25 center-block">
                <div class="input-group">
                  <span class="input-group-addon"><i class="chv-icon icon-mail"></i></span>
                  <input class="form-control" type="email" name="login" placeholder="E-mail">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <div class="chv-maxw-25 center-block">
                <div class="input-group">
                  <span class="input-group-addon"><i class="chv-icon icon-asterisk"></i></span>
                  <input class="form-control" type="password" name="password" placeholder="Heslo">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <div class="checkbox chv-inline">
                <label>
                  <input type="checkbox" name="remember">
                  Zapamätaj si ma
                </label>
              </div>
            </div>
          </div>
          <div>
            <button class="btn chv-btn-wide chv-btn-inv-green" type="submit">Prihlásiť sa</button>
          </div>
          <div class="visible-xs">
            <a class="btn chv-btn-wide chv-btn-inv-blue" href="{% url 'account_signup' %}">Registrácia</a>
          </div>
        </form>
        <p>
          <a class="chv-color-gray chv-hover-gray-d" href="{% url 'account_reset_password' %}">
            <span class="chv-icon-stack">
              <i class="chv-icon icon-circle"></i>
              <i class="chv-icon chv-icon-half chv-icon-inv icon-help"></i>
            </span>
            Zabudnuté heslo?
          </a>
        </p>
        <hr>
        <h3>Použiť iný login</h3>
        {% include "account/snippets/social_login_buttons.html" with process="login" %}
      </div>
    </div>
  </div>

  <div class="chv-scheme-gray chv-above-1 chv-bellow-1">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="chv-bigstats">
            <div class="chv-bigstats-icon">
              <span class="chv-icon-stack">
                <i class="chv-icon icon-circle chv-color-blue-ll"></i>
                <i class="chv-icon chv-icon-half chv-icon-inv icon-building"></i>
              </span>
            </div>
            <div class="chv-bigstats-stats chv-color-blue">{{ obligees }}</div>
            <div class="chv-bigstats-text chv-color-blue-ll">Inštitúcií <br>v databáze</div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="chv-bigstats">
            <div class="chv-bigstats-icon">
              <span class="chv-icon-stack">
                <i class="chv-icon icon-circle chv-color-blue-ll"></i>
                <i class="chv-icon chv-icon-half chv-icon-inv icon-users"></i>
              </span>
            </div>
            <div class="chv-bigstats-stats chv-color-blue">{{ users }}</div>
            <div class="chv-bigstats-text chv-color-blue-ll">Registrovaných <br>užívateľov</div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="chv-bigstats">
            <div class="chv-bigstats-icon">
              <span class="chv-icon-stack">
                <i class="chv-icon icon-circle chv-color-blue-ll"></i>
                <i class="chv-icon chv-icon-half chv-icon-inv icon-docs"></i>
              </span>
            </div>
            <div class="chv-bigstats-stats chv-color-blue">{{ inforequests }}</div>
            <div class="chv-bigstats-text chv-color-blue-ll">Podaných <br>žiadostí</div>
          </div>
        </div>
      </div>
      <div class="chv-above-1">
        <p class="chv-color-gray">
          <span class="badge chv-bg-gray-l">beta</span>
          &nbsp;
          Portál chcemvediet.sk funguje v testovacej prevádzke
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row chv-above-1 chv-bellow-1">
      <div class="hidden-xs hidden-sm col-md-4 text-center">
        <h2>Financovanie</h2>
        <div class="panel chv-scheme-gray">
          <div class="panel-body">
            <p>
            Tento projekt môžete podporiť ako individuálny darca prostredníctvom portálu
            ďakujeme.sk
            </p>
            <div class="chv-above-1 chv-bellow-1">
              <a class="btn chv-btn-blue" href="#">Chcem prispieť</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <h2 class="text-center">Blog</h2>
        <a class="chv-blog" href="#">
          <img class="chv-blog-img" src="{% static "main/images/blog/a.jpg" %}">
          <span class="chv-blog-date">9. apríl 2015</span>
          <span class="chv-blog-text">
            Rozdiely vo vybavovaní infožiadostí sú veľké
          </span>
        </a>
        <a class="chv-blog" href="#">
          <img class="chv-blog-img" src="{% static "main/images/blog/b.jpg" %}">
          <span class="chv-blog-date">2. apríl 2015</span>
          <span class="chv-blog-text">
            Je možnosť požiadať o informácie dostupná naozaj pre každého?
          </span>
        </a>
      </div>

      <div class="hidden-xs col-sm-6 col-md-4">
        <h2 class="text-center">Vedeli ste?</h2>
        <div id="chv-didyouknow" class="carousel chv-carousel-blue slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#chv-didyouknow" data-slide-to="0" class="active"></li>
            <li data-target="#chv-didyouknow" data-slide-to="1"></li>
            <li data-target="#chv-didyouknow" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            {% for i in "1 2 3"|split %}
              <div class="item {{ forloop.first|yes:"active" }}">
                <div class="chv-thinner text-center">
                  <div class="panel chv-scheme-blue">
                    <div class="panel-body">
                      <div class="chv-height-4">
                        <p>
                          Podľa zákona na ziskanie informácií nepotrebujete uviesť dôvod, prečo ich
                          potrebujete? {{ i }}
                        </p>
                      </div>
                      <div class="chv-above-1 chv-bellow-1">
                        <a class="btn chv-btn-blue" href="#">
                          <i class="chv-icon icon-twitter"></i> &nbsp; Tweet
                        </a>
                        &nbsp;
                        <a class="btn chv-btn-blue" href="#">
                          <i class="chv-icon icon-facebook"></i> &nbsp; Share
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          <a class="left carousel-control" href="#chv-didyouknow" data-slide="prev">
            <span class="chv-icon icon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#chv-didyouknow" data-slide="next">
            <span class="chv-icon icon-chevron-right"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
