{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% extends "main/base/full_width.html" %}

{% comment %}
 %
 % Context:
 %  -- users: int
 %  -- obligees: int
 %  -- inforequests: int
 %
{% endcomment %}


{% block content %}
  <div class="chv-scheme-inv-blue">
    <div class="container text-center">
      {% include "main/homepage/search.html" %}
      {% include "main/homepage/steps.html" %}
    </div>
  </div>
  <div class="container chv-above-1 chv-bellow-1">
    {% include "main/homepage/about.html" %}
  </div>
  <div class="chv-scheme-gray chv-above-1 chv-bellow-1">
    <div class="container">
      {% include "main/homepage/bigstats.html" %}
    </div>
  </div>
  <div class="container">
    <div class="row chv-above-1 chv-bellow-1">
      <div class="hidden-xs hidden-sm col-md-4 text-center">
        {% include "main/homepage/funding.html" %}
      </div>
      <div class="col-sm-6 col-md-4">
        {% include "main/homepage/blogs.html" %}
      </div>
      <div class="hidden-xs col-sm-6 col-md-4">
        {% include "main/homepage/didyouknow.html" %}
      </div>
    </div>
  </div>
{% endblock %}
