{# vim: set filetype=htmldjango shiftwidth=2 :#}

{% comment %}
 %
 % Context:
 %  -- None
 %
{% endcomment %}


{% with collapse_id=idgenerator.next checkbox_id=idgenerator.next %}
  <div class="sg-container">
    <h2 id="forms">
      <a href="#{{ collapse_id }}" class="collapsed" data-toggle="collapse">Forms</a>
    </h2>
    <div id="{{ collapse_id }}" class="collapse">
      <input id="{{ checkbox_id }}" class="sg-checkbox" type="checkbox">
      <label for="{{ checkbox_id }}">Show baseline</label>
      <div class="sg-grid">
        <div class="row">
          <div class="col-md-6">
            {% include "styleguide/forms/form.html" with class="form-horizontal" %}
          </div>
          <div class="col-md-6">
            {% include "styleguide/forms/form.html" with class="chv-form-dense" %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endwith %}
