{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% load capture from poleno.utils %}

{% comment %}
 %
 % Context:
 %  -- close: boolean
 %  -- message: string (optional)
 %  -- message_template: string (optional)
 %
{% endcomment %}


{% block alert %}
  <div class="alert {% block class %}{% endblock %}">
    {% block close %}
      {% if close %}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      {% endif %}
    {% endblock %}
    {% block content %}
      <p>
        {% block icon %}
          {% capture "icon" %}{% block icon-class %}{% endblock %}{% endcapture %}
          {% include "main/snippets/icons/circled.html" %}
          &nbsp;
        {% endblock %}
        {% block lead %}
          <strong>{% block lead-text %}{% endblock %}</strong>
        {% endblock %}
        {% block message %}
          {% if message_template %}
            {% include message_template %}
          {% else %}
            {{ message }}
          {% endif %}
        {% endblock %}
      </p>
    {% endblock %}
  </div>
{% endblock %}
