
// Featured colors
// -l is lighter and -ll is more lighter
// -d is darker and -dd is more darker
// -w is whitish
$chv-color-blue: #0032b4
$chv-color-blue-d: #00328c
$chv-color-blue-dd: #02216c
$chv-color-blue-l: #3766cb
$chv-color-blue-ll: #6994e8
$chv-color-blue-w: #f0f4fd
$chv-color-green: #39b56e
$chv-color-green-l: #6fdc91
$chv-color-green-ll: #a3e5b5
$chv-color-green-w: #f6fcf8
$chv-color-red: #fc723b
$chv-color-red-l: #f79f84
$chv-color-red-ll: #facfc3
$chv-color-red-w: #fef5f3
$chv-color-gray: #666666
$chv-color-gray-l: #b3b3b3
$chv-color-gray-ll: #dbdbdb
$chv-color-gray-d: #333333
$chv-color-gray-w: #f8f8f8
$chv-color-white: #ffffff

// Default (gray) text shades for backgrounds
$chv-text-default-on-blue: #ffffff
$chv-text-default-on-blue-w: #4d4d4d
$chv-text-default-on-green: #ffffff
$chv-text-default-on-green-w: #4d4d4d
$chv-text-default-on-red: #ffffff
$chv-text-default-on-red-w: #4d4d4d
$chv-text-default-on-gray: #c1c1c1
$chv-text-default-on-gray-w: #333333
$chv-text-default-on-white: #4d4d4d

// Admissible text color combinations
$chv-text-blue-on-blue-w: $chv-color-blue
$chv-text-blue-on-gray-w: $chv-color-blue
$chv-text-blue-on-white: $chv-color-blue
$chv-text-green-on-green-w: $chv-color-green
$chv-text-green-on-gray-w: $chv-color-green
$chv-text-green-on-white: $chv-color-green
$chv-text-red-on-red-w: $chv-color-red
$chv-text-red-on-gray-w: $chv-color-red
$chv-text-red-on-white: $chv-color-red

// Default (gray) icon shades for backgrounds
$chv-default-icon-on-blue: #ffffff
$chv-default-icon-on-blue-w: #999999
$chv-default-icon-on-green: #ffffff
$chv-default-icon-on-green-w: #999999
$chv-default-icon-on-red: #ffffff
$chv-default-icon-on-red-w: #999999
$chv-default-icon-on-gray: #c1c1c1
$chv-default-icon-on-gray-w: #999999
$chv-default-icon-on-white: #999999

// Admissible icon color combinations
$chv-blue-icon-on-blue-w: $chv-color-blue
$chv-blue-icon-on-gray-w: $chv-color-blue
$chv-blue-icon-on-white: $chv-color-blue
$chv-green-icon-on-green-w: $chv-color-green
$chv-green-icon-on-gray-w: $chv-color-green
$chv-green-icon-on-white: $chv-color-green
$chv-red-icon-on-red-w: $chv-color-red
$chv-red-icon-on-gray-w: $chv-color-red
$chv-red-icon-on-white: $chv-color-red
