
.chv-circle
  border-radius: 50%

.chv-thinner
  padding-left: 10px
  padding-right: 10px

.chv-block
  display: block
.chv-inline
  display: inline-block

.chv-nowrap
  white-space: nowrap
.chv-prewrap
  white-space: pre-wrap
.chv-preline
  white-space: pre-line

.chv-justify
  text-align: justify
.chv-justify-all
  text-align: justify
  &:after
    content: ""
    display: inline-block
    width: 100%

.chv-full-width
  width: 100%
.chv-full-height
  height: 100%
@media(max-width:$screen-xs-max)
  .chv-full-width-xs-only
    width: 100%

@for $k from 1 through 10
  .chv-maxw-#{$k * 5}
    max-width: ($k * 50px)

.chv-pointer
  cursor: pointer

.chv-body-clip
  overflow: hidden
  max-width: 100%
