
$icon-font-path: "../../fonts/"
$font-family-sans-serif: Ubuntu, sans-serif

@import "stylesheets/bootstrap"

$chv-navbar-primary-color: #fff
$chv-navbar-primary-bg: #0032b4
$chv-navbar-primary-search-bg: #00328c
$chv-navbar-primary-search-color: #fff
$chv-navbar-primary-search-placeholder: #fff
$chv-navbar-primary-search-button-color: #fff
$chv-navbar-primary-search-button-bg: #00328c
$chv-navbar-primary-search-button-hover-color: #fff
$chv-navbar-primary-search-button-hover-bg: #022472
$chv-navbar-primary-collapse-bg: #00328c
$chv-brand-logo-bg: #00328c
$chv-brand-font-size: 20px
$chv-brand-badge-gb: #6994e8
$chv-navbar-search-color: #fff
$chv-navbar-search-bg: #00328c
$chv-navbar-search-placeholder: #fff
$chv-navbar-search-button-color: #fff
$chv-navbar-search-button-bg: #02216c

.chv-navbar-primary
  margin-bottom: 0
  border: none
  color: $chv-navbar-primary-color
  background-color: $chv-navbar-primary-bg

.chv-navbar-primary
  .chv-brand
    float: left
    font-size: $chv-brand-font-size
    .chv-logo
      width: $navbar-height
      height: $navbar-height
      margin-left: $navbar-height / 2
      margin-right: 15px
      background-color: $chv-brand-logo-bg
    small
      font-size: $chv-brand-font-size * 0.7
      font-weight: 500
    .badge
      background-color: $chv-brand-badge-gb
      vertical-align: 15%
      margin: 0 5px
      font-size: $font-size-base
      font-weight: 500

.chv-navbar-primary
  .chv-navbar-nav
    margin: 0
    padding: 0
    list-style: none
    @include clearfix()
    > li
      position: relative
      display: block
      float: left
      > a
        position: relative
        display: block
        padding: (($navbar-height - $line-height-computed) / 2) $nav-link-padding
        text-align: center
        &:hover,
        &:focus
          font-weight: 700
        &:after
          content: attr(data-content)
          display: block
          height: 0
          font-weight: 700
          overflow: hidden
          visibility: hidden

.chv-navbar-primary
  li > a.chv-navbar-collapse
    padding-left: 17px
    padding-right: 17px
    &:focus
      outline: none
    &:not(.collapsed)
      background-color: $chv-navbar-primary-collapse-bg

.chv-navbar-primary
  input
    max-width: 160px
    color: $chv-navbar-primary-search-color
    background-color: $chv-navbar-primary-search-bg
    border: none
    box-shadow: none
    @include placeholder($chv-navbar-primary-search-placeholder)
    &:focus
      border: none
      box-shadow: none
      @include placeholder(transparent)
  button
    color: $chv-navbar-primary-search-button-color
    background-color: $chv-navbar-primary-search-button-bg
    border: none
    box-shadow: none
    &:hover
      color: $chv-navbar-primary-search-button-hover-color
      background-color: $chv-navbar-primary-search-button-hover-bg

.chv-navbar-primary
  a
    color: inherit
    &:hover,
    &:focus
      text-decoration: none

.chv-navbar-search
  background-color: $chv-navbar-search-bg
  .navbar
    margin-bottom: 0
    border: none
  .navbar-form
    margin: 0
    padding: 0
    border: none
    outline: none
    box-shadow: none
    input
      height: $navbar-height
      color: $chv-navbar-search-color
      background-color: $chv-navbar-search-bg
      border: none
      box-shadow: none
      @include placeholder($chv-navbar-search-placeholder)
      &:focus
        @include placeholder(transparent)
    button
      border-radius: 4px !important
      font-weight: 700
      color: $chv-navbar-search-button-color
      border-color: $chv-navbar-search-button-bg
      background-color: $chv-navbar-search-button-bg
