
.panel
  margin-bottom: $chv-baseline
  border-width: 1px
  overflow: hidden

.panel-body
  padding-top: $chv-baseline
  padding-bottom: 0
  margin-top: -1px
  margin-bottom: -1px

.chv-panel-default
  border-color: purple

.chv-panel-gray
  @extend .chv-bg-gray
