
body#styleguide
  padding-bottom: 100px

  .sg-container
    margin-left: 50px
    margin-right: 50px

  .sg-table
    table-layout: fixed
    th, td
      text-align: center
      vertical-align: middle

  .sg-color
    width: 50px
    height: 50px
    margin: 1ex auto
    border-radius: 50%

  .sg-color-combo
    width: 150px
    max-width: 100%
    margin: 1ex auto
    padding: 2ex 2ex 2ex 5ex
    border-radius: 1em
    text-align: left
    overflow: hidden
    .glyphicon
      float: left
      margin: 0.7ex 0 0 -3ex

  .sg-icon
    display: inline-block
    min-width: 200px
    margin: 10px
    vertical-align: middle
    .chv-icon
      color: #666

  #sg-typo-grid-checkbox:checked ~ .sg-typo-grid
    $a: #ef9f9f 0px
    $b: #ef9f9f 1px
    $c: transparent 1px
    $d: transparent ($chv-baseline / 2)
    $e: #c9e4ef ($chv-baseline / 2)
    $f: #c9e4ef ($chv-baseline / 2 + 1px)
    $g: transparent ($chv-baseline / 2 + 1px)
    $h: transparent $chv-baseline
    background-image: repeating-linear-gradient(180deg, $a, $b, $c, $d, $e, $f, $g, $h)
