
$chv-baseline: 20px
$chv-font-size-p: 14px
$chv-font-size-h1: ($chv-font-size-p * 2.5)
$chv-font-size-h2: ($chv-font-size-h1 * 5 / 7)
$chv-font-size-h3: ($chv-font-size-h2 * 3 / 5)

//
// Text elements keeping vertical rhythm
//

@mixin chv-baseline-fix($fontsize, $lines, $extra: 0)
  // This constants probably work only for this particular font
  $lineheight: $chv-baseline * $lines
  $baseline-fix: ($lineheight * 37 / 88 - $fontsize / 4)
  padding-top: ($baseline-fix + $extra * $chv-baseline)
  padding-bottom: 0
  margin-top: 0
  margin-bottom: ($chv-baseline - $baseline-fix)
  font-size: $fontsize
  line-height: $lineheight

p
  @include chv-baseline-fix($chv-font-size-p, 1)
  color: $chv-text-default-on-white
h1
  @include chv-baseline-fix($chv-font-size-h1, 2, 1)
h2
  @include chv-baseline-fix($chv-font-size-h2, 2)
h3
  @include chv-baseline-fix($chv-font-size-h3, 1)
h1, h2, h3
  font-weight: 400
  color: $chv-text-blue-on-white

//
// Vertical skip
//

.chv-vskip-1
  height: $chv-baseline
.chv-vskip-2
  height: ($chv-baseline * 2)
.chv-vskip-3
  height: ($chv-baseline * 3)
.chv-vskip-4
  height: ($chv-baseline * 4)
.chv-vskip-5
  height: ($chv-baseline * 5)
.chv-vskip-6
  height: ($chv-baseline * 6)
.chv-vskip-7
  height: ($chv-baseline * 7)
.chv-vskip-8
  height: ($chv-baseline * 8)
