
$chv-baseline: 20px
$chv-baseline-h1:     "h1"     "h1"     35px 2 1 1
$chv-baseline-h2:     "h2"     "h2"     25px 2 0 1
$chv-baseline-h3:     "h3"     "h3"     15px 1 0 1
$chv-baseline-p-lead: "p-lead" "p.lead" 16px 1 0 1
$chv-baseline-p:      "p"      "p"      14px 1 0 1
$chv-baseline-li:     "li"     "li"     14px 1 0 0.5
$chv-list-indent: 32px

//
// Paragraphs and headings with vertical rhythm.
//
// Use <h2 class="chv-adjust-to-h1"> to align the first line of h2 to the first line of h1.
// Use <div class="chv-height-h1"> to skip the same height as would be taken by one-line <h1>.
//

$chv-baseline-spec: ()
$chv-baseline-spec: append($chv-baseline-spec, $chv-baseline-h1)
$chv-baseline-spec: append($chv-baseline-spec, $chv-baseline-h2)
$chv-baseline-spec: append($chv-baseline-spec, $chv-baseline-h3)
$chv-baseline-spec: append($chv-baseline-spec, $chv-baseline-p-lead)
$chv-baseline-spec: append($chv-baseline-spec, $chv-baseline-p)
$chv-baseline-spec: append($chv-baseline-spec, $chv-baseline-li)

@function chv_baseline_fix($fontsize, $lead)
  @return ($lead * $chv-baseline * 37 / 88 - $fontsize / 4)

@mixin chv-baseline($fontsize, $lead: 1, $above: 0, $below: 0)
  $fix: chv_baseline_fix($fontsize, $lead)
  padding-top: ($fix + $above * $chv-baseline)
  padding-bottom: 0
  margin-top: 0
  margin-bottom: ($below * $chv-baseline - $fix)
  font-size: $fontsize
  line-height: $lead * $chv-baseline

@each $name, $selector, $fontsize, $lead, $above, $below in $chv-baseline-spec
  $fix: chv_baseline_fix($fontsize, $lead)
  #{$selector}
    @include chv-baseline($fontsize, $lead, $above, $below)
    @each $name2, $selector2, $fontsize2, $lead2, $above2, $below2 in $chv-baseline-spec
      &.chv-adjust-to-#{$name2}
        padding-top: (($lead2 + $above2 - $lead) * $chv-baseline + $fix)
  .chv-height-#{$name}
    height: (($lead + $above + $below) * $chv-baseline)

//
// Adjust half-baseline margin after odd number of list items
//

li:nth-child(odd):last-child
  padding-bottom: 0.5 * $chv-baseline
li:nth-child(even):last-child
  padding-bottom: $chv-baseline
ul, ol
  margin-top: 0
  margin-bottom: 0
  padding-left: $chv-list-indent

//
// Base paragraph and heading styles
//

p.lead
  font-weight: 500
h1, h2
  font-weight: 400
h3
  font-weight: 500
a
  text-decoration: none
  &:focus,
  &:hover,
    text-decoration: none

//
// Fixed vertical sizes maintaining rhythm
//

.chv-height-half
  height: ($chv-baseline * 0.5)
.chv-above-half
  padding-top: ($chv-baseline * 0.5)
.chv-bellow-half
  margin-bottom: ($chv-baseline * 0.5)

@for $i from 1 through 8
  .chv-height-#{$i}
    height: ($chv-baseline * $i)
  .chv-height-#{$i}-half
    height: ($chv-baseline * ($i + 0.5))
  .chv-above-#{$i}
    padding-top: ($chv-baseline * $i)
  .chv-above-#{$i}-half
    padding-top: ($chv-baseline * ($i + 0.5))
  .chv-bellow-#{$i}
    margin-bottom: ($chv-baseline * $i)
  .chv-bellow-#{$i}-half
    margin-bottom: ($chv-baseline * ($i + 0.5))

//
// Simple grid overlay for baseline visualization
//

.baseline-grid
  position: relative
  &:after
    $a: #ef9f9f 0px
    $b: #ef9f9f 1px
    $c: transparent 1px
    $d: transparent ($chv-baseline / 2)
    $e: #c9e4ef ($chv-baseline / 2)
    $f: #c9e4ef ($chv-baseline / 2 + 1px)
    $g: transparent ($chv-baseline / 2 + 1px)
    $h: transparent $chv-baseline
    content: " "
    position: absolute
    display: block
    left: 0
    right: 0
    top: 0
    bottom: 0
    background-image: repeating-linear-gradient(180deg, $a, $b, $c, $d, $e, $f, $g, $h)
    z-index: 2000
    pointer-events: none
