{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% extends "main/base/single_column.html" %}
{% load trans from i18n %}
{% load url from poleno.utils %}

{% comment %}
 %
 % Context:
 %  -- inforequests: [chcemvediet.apps.inforequests.models.Inforequest]
 %  -- drafts: [chcemvediet.apps.inforequests.models.InforequestDraft]
 %  -- closed_inforequests: [chcemvediet.apps.inforequests.models.Inforequest]
 %
{% endcomment %}


{% block title %}{% trans 'inforequests:index:title' %} | {{ block.super }}{% endblock %}

{% block content %}
  <h1>{% trans 'inforequests:index:heading' %}</h1>
  {% if inforequests %}
    {% include "inforequests/index/texts/submitted_list.html" %}
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th class="col-sm-4">{% trans 'inforequests:index:obligee' %}</th>
            <th class="col-sm-4">{% trans 'inforequests:index:subject' %}</th>
            <th class="col-sm-2"></th>
            <th class="col-sm-2">{% trans 'inforequests:index:submission_date' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for inforequest in inforequests %}
            <tr>
              <td>
                <a href="{{ inforequest.get_absolute_url }}">
                  {{ inforequest.main_branch.historicalobligee.name }}
                </a>
              </td>
              <td>
                <a href="{{ inforequest.get_absolute_url }}">{{ inforequest.subject }}</a>
              </td>
              <td>
                {% if inforequest.has_undecided_emails %}
                  <span class="pln-with-tooltip" data-toggle="tooltip" data-placement="right"
                        title="{% spaceless %}
                          {% include "inforequests/index/tooltips/new_mail.txt" %}
                          {% endspaceless %}">
                    <span class="glyphicon glyphicon-envelope"></span>
                    {% trans 'inforequests:index:new_mail' %}
                  </span>
                {% endif %}
              </td>
              <td>
                {{ inforequest.submission_date }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    {% include "inforequests/index/texts/submitted_empty.html" %}
  {% endif %}
  <div class="clearfix">
    <a class="btn btn-primary btn-lg pull-right" href="{% url 'inforequests:create' %}">
      <span class="glyphicon glyphicon-plus"></span> {% trans 'inforequests:index:create' %}
    </a>
  </div>

  {% if drafts %}
    <h2>{% trans 'inforequests:index:drafts:heading' %}</h2>
    {% include "inforequests/index/texts/drafts.html" %}
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>{% trans 'inforequests:index:drafts:obligee' %}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for draft in drafts %}
            <tr>
              <td>
                <a href="{% url 'inforequests:create' draft=draft %}">
                  {% if draft.obligee %}
                    {{ draft.obligee.name }}
                  {% else %}
                    {% trans 'inforequests:index:drafts:empty_obligee' %}
                  {% endif %}
                </a>
              </td>
              <td class="text-right">
                <a class="btn btn-link" href="{% url 'inforequests:create' draft=draft %}">
                  <span class="glyphicon glyphicon-edit"></span>
                  {% trans 'inforequests:index:drafts:create_from_draft' %}
                </a>
                <a class="btn btn-link pln-post pln-confirm"
                   href="{% url 'inforequests:delete_draft' draft=draft %}"
                   data-post-csrfmiddlewaretoken="{{ csrf_token }}"
                   data-confirm="{% trans 'inforequests:index:draft:delete:confirm' %}">
                  <span class="glyphicon glyphicon-trash"></span>
                  {% trans 'inforequests:index:draft:delete' %}
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}

  {% if closed_inforequests %}
    <h2>{% trans 'inforequests:index:closed:heading' %}</h2>
    {% include "inforequests/index/texts/closed.html" %}
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th class="col-sm-4">{% trans 'inforequests:index:closed:obligee' %}</th>
            <th class="col-sm-6">{% trans 'inforequests:index:closed:subject' %}</th>
            <th class="col-sm-2">{% trans 'inforequests:index:closed:submission_date' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for inforequest in closed_inforequests %}
            <tr>
              <td>
                <a href="{{ inforequest.get_absolute_url }}">
                  {{ inforequest.main_branch.historicalobligee.name }}
                </a>
              </td>
              <td>
                <a href="{{ inforequest.get_absolute_url }}">{{ inforequest.subject }}</a>
              </td>
              <td>
                {{ inforequest.submission_date }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}
{% endblock %}
