{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% load trans from i18n %}

{% comment %}
 %
 % Context:
 %  -- None
 %
{% endcomment %}


<div class="chv-eq-rows chv-above-1 chv-bellow-1">
  <div class="chv-eq-row chv-hidden-xs">
    <div class="chv-eq-col chv-eq-col-border-first chv-width-4-sm chv-border-gray-ll">
      <div class="text-center">
        <h2>
          <span class="chv-icon-stack chv-icon-3x chv-above-1 chv-bellow-1">
            <i class="chv-icon icon-circle chv-color-green-l"></i>
            <i class="chv-icon chv-icon-inv chv-icon-half icon-help"></i>
          </span>
          <br>
          {% trans 'inforequests:index:create:heading' %}
        </h2>
        {% include "inforequests/index/texts/create.html" %}
      </div>
    </div>
    <div class="chv-eq-col chv-eq-col-border-first chv-width-4-sm chv-border-gray-ll">
      <div class="text-center">
        <h2>
          <span class="chv-icon-stack chv-icon-3x chv-above-1 chv-bellow-1">
            <i class="chv-icon icon-circle chv-color-blue-ll"></i>
            <i class="chv-icon chv-icon-inv chv-icon-half icon-mail"></i>
          </span>
          <br>
          {% trans 'inforequests:index:smail:heading' %}
        </h2>
        {% include "inforequests/index/texts/smail.html" %}
      </div>
    </div>
    <div class="chv-eq-col chv-eq-col-border-first chv-width-4-sm chv-border-gray-ll">
      <div class="text-center">
        <h2>
          <span class="chv-icon-stack chv-icon-3x chv-above-1 chv-bellow-1">
            <i class="chv-icon icon-circle chv-color-red-l"></i>
            <i class="chv-icon chv-icon-inv chv-icon-half icon-at"></i>
          </span>
          <br>
          {% trans 'inforequests:index:email:heading' %}
        </h2>
        {% include "inforequests/index/texts/email.html" %}
      </div>
    </div>
  </div>
  <div class="chv-eq-row">
    <div class="chv-eq-col chv-eq-col-border-last chv-border-gray-ll">
      <div class="text-center chv-above-1">
        <a class="btn btn-default" href="{% url 'inforequests:create' %}">
          <i class="chv-icon icon-doc-inv"></i>
          &nbsp;
          {% trans 'inforequests:index:create:button' %}
        </a>
      </div>
    </div>
    <div class="chv-eq-col chv-eq-col-border-last chv-border-gray-ll">
      <div class="text-center chv-above-1">
        <a class="btn btn-default" href="#">
          <i class="chv-icon icon-up-circled"></i>
          &nbsp;
          {% trans 'inforequests:index:smail:button' %}
        </a>
      </div>
    </div>
    <div class="chv-eq-col chv-eq-col-border-last chv-border-gray-ll">
      <div class="text-center chv-above-1">
        <a class="btn btn-default" href="#">
          <i class="chv-icon icon-forward"></i>
          &nbsp;
          {% trans 'inforequests:index:email:button' %}
        </a>
      </div>
    </div>
  </div>
</div>
