{# vim: set filetype=htmldjango :#}
{% extends "wizards/wizard.html" %}
{% load paragraph from chcemvediet.wizards %}

{% comment %}
 %
 % Context:
 %  -- wizard: chcemvediet.apps.wizards.wizard.Wizard
 %  -- step: chcemvediet.apps.wizards.wizard.SectionStep
 %
{% endcomment %}


{% block body %}
  {{ block.super }}
  {% if step.section_template %}
    <div class="well paper-section">
      {# To make sure all open paragraphs are closed after the section #}
      {% paragraph before=0 after=0 %}{% endparagraph %}
      {% include step.section_template %}
      {% paragraph before=0 after=2 %}{% endparagraph %}
    </div>
  {% endif %}
{% endblock %}
