{# vim: set filetype=htmldjango :#}
{% extends "wizards/wizard.html" %}
{% load paragraphs endparagraphs from chcemvediet.wizards %}

{% comment %}
 %
 % Context:
 %  -- wizard: chcemvediet.apps.wizards.wizard.Wizard
 %  -- step: chcemvediet.apps.wizards.wizard.SectionStep
 %
{% endcomment %}


{% block body %}
  {{ block.super }}
  {% if step.section_template %}
    <div class="well paper-section">
      {% paragraphs %}
        {% include step.section_template %}
      {% endparagraphs %}
    </div>
  {% endif %}
{% endblock %}
