{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% load trans from i18n %}
{% load yes no from poleno.utils %}

{% comment %}
 %
 % Context:
 %  -- inforequest: chcemvediet.apps.inforequests.models.Inforequest
 %  -- branch: chcemvediet.apps.inforequests.models.Branch
 %  -- forloop
 %
{% endcomment %}


{% with collapse_id=idgenerator.next %}
  <p class="{{ forloop.first|no:"collapsed" }} chv-pointer" data-toggle="collapse"
     data-target="#{{ collapse_id }}">
    <i class="chv-icon icon-down-dir pull-right"></i>
    <i class="chv-icon chv-icon-flip-vertical icon-forward"></i>
    <i class="chv-icon icon-home"></i>
    {% trans 'inforequests:detail:branch:sub:heading' %}:
    {{ branch.historicalobligee.name }}
  </p>
  <div id="{{ collapse_id }}" class="collapse {{ forloop.first|yes:"in"}}">
    {% for action in branch.actions %}
      {% include "inforequests/detail/action/main.html" %}
    {% endfor %}
  </div>
{% endwith %}
