{# vim: set filetype=htmldjango shiftwidth=2 :#}

{% comment %}
 %
 % Context:
 %  -- None
 %
{% endcomment %}


<div class="sg-container">
  <h2 id="buttons">
    <a class="sg-collapse-open" href="#buttons">Buttons</a>
    <a class="sg-collapse-close" href="#">Buttons</a>
  </h2>
  <div class="sg-collapse">
    <h3>Defined buttons</h3>
    <div>
      {% include "styleguide/buttons/button.html" with class="chv-btn-plain" %}
      <br>
      {% include "styleguide/buttons/button.html" with class="chv-btn-blue" %}
      {% include "styleguide/buttons/button.html" with class="chv-btn-green" %}
      {% include "styleguide/buttons/button.html" with class="chv-btn-red" %}
      {% include "styleguide/buttons/button.html" with class="chv-btn-gray" %}
      <br>
      {% include "styleguide/buttons/button.html" with class="chv-btn-inv-blue" %}
      {% include "styleguide/buttons/button.html" with class="chv-btn-inv-green" %}
      {% include "styleguide/buttons/button.html" with class="chv-btn-inv-red" %}
    </div>
    <h3>Semantic names for buttons</h3>
    <div>
      {% include "styleguide/buttons/button.html" with class="btn-default" %}
      {% include "styleguide/buttons/button.html" with class="btn-primary" %}
      {% include "styleguide/buttons/button.html" with class="btn-link" %}
    </div>
    <h3>Button sizes</h3>
    <div>
      {% with extra="chv-btn-blue" %}
        {% include "styleguide/buttons/button.html" with class="btn" %}
        {% include "styleguide/buttons/button.html" with class="chv-btn-wide" %}
      {% endwith %}
    </div>
  </div>
</div>
