{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% load trans from i18n %}
{% load active from poleno.utils %}

{% comment %}
 %
 % Context:
 %  -- None
 %
{% endcomment %}


{% if user.is_authenticated %}
  <li class="dropdown {{ request|active:'accounts,account_change_password,account_email,socialaccount_connections,invitations'|yesno:"active," }}">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      {{ user.email }} <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="{% url 'accounts:profile' %}">
          {% trans 'main:menu:account:profile' %}
        </a>
      </li>
      <li>
        <a href="{% url 'account_change_password' %}">
          {% trans 'main:menu:account:password' %}
        </a>
      </li>
      <li>
        <a href="{% url 'account_email' %}">
          {% trans 'main:menu:account:email' %}
        </a>
      </li>
      <li>
        <a href="{% url 'socialaccount_connections' %}">
          {% trans 'main:menu:account:connections' %}
        </a>
      </li>
      {% if user.invitationsupply.can_use_invitations %}
        <li class="divider"></li>
        <li>
          <a href="{% url 'invitations:invite' %}">
            {% trans 'main:menu:account:invite' %}
          </a>
        </li>
      {% endif %}
      <li class="divider"></li>
      <li>
        <a href="{% url 'account_logout' %}" class="pln-post"
           data-post-csrfmiddlewaretoken="{{ csrf_token }}">
          {% trans 'main:menu:account:logout' %}
        </a>
      </li>
    </ul>
  </li>
{% else %}
  <li class="{{ request|active:'account_login'|yesno:"active," }}">
    <a href="{% url 'account_login' %}">
      {% trans 'main:menu:account:login' %}
    </a>
  </li>
  <li class="{{ request|active:'account_signup'|yesno:"active," }}">
    <a href="{% url 'account_signup' %}">
      {% trans 'main:menu:account:signup' %}
    </a>
  </li>
{% endif %}
