{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% load trans from i18n %}
{% load page page_active from poleno.pages %}
{% load yes from poleno.utils %}

{% comment %}
 %
 % Context:
 %  -- None
 %
{% endcomment %}


<div class="chv-fixed-header">
  {% if DEVBAR_MESSAGE %}
    <div class="chv-devbar">
      <div class="container">
        <p>{{ DEVBAR_MESSAGE|safe }}</p>
      </div>
    </div>
  {% endif %}
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand {{ request|page_active:'=/'|yes:"active" }}" href="{% page '/' %}">
          {% trans 'main:menu:brand' %}
        </a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          {% include "main/snippets/header_menu.html" %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% include "main/snippets/header_devtools.html" %}
          {% include "main/snippets/header_account.html" %}
          {% include "main/snippets/header_language.html" %}
        </ul>
      </div>
    </div>
  </nav>
</div>
