{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% load trans from i18n %}
{% load provider_login_url from socialaccount %}

{% comment %}
 %
 % Context:
 %  -- process: 'login' | 'connect'
 %
{% endcomment %}


<div class="chv-social-login-buttons">
  <a href="{% provider_login_url "facebook" process=process %}"
     title="{% trans 'account:social_buttons:facebook' %}">
    {% with stack="chv-icon-3x" circle="chv-color-facebook" icon="icon-facebook" %}
      {% include "main/snippets/icons/circled.html" %}
    {% endwith %}
  </a>
  <a href="{% provider_login_url "google" process=process %}"
     title="{% trans 'account:social_buttons:google' %}">
    {% with stack="chv-icon-3x" circle="chv-color-gplus" icon="icon-gplus" %}
      {% include "main/snippets/icons/circled.html" %}
    {% endwith %}
  </a>
  <a href="{% provider_login_url "twitter" process=process %}"
     title="{% trans 'account:social_buttons:twitter' %}">
    {% with stack="chv-icon-3x" circle="chv-color-twitter" icon="icon-twitter" %}
      {% include "main/snippets/icons/circled.html" %}
    {% endwith %}
  </a>
  <a href="{% provider_login_url "linkedin" process=process %}"
     title="{% trans 'account:social_buttons:linkedin' %}">
    {% with stack="chv-icon-3x" circle="chv-color-linkedin" icon="icon-linkedin" %}
      {% include "main/snippets/icons/circled.html" %}
    {% endwith %}
  </a>
</div>
