{# vim: set filetype=htmldjango shiftwidth=2 :#}

{% comment %}
 %
 % Context:
 %  -- sg: dict with defined colors
 %
{% endcomment %}


<table class="table sg-table">
  <thead>
    <tr>
      <td></td>
      <td>More darker</td>
      <td>Darker</td>
      <th>Featured color</th>
      <td>Lighter</td>
      <td>More lighter</td>
      <td>Whitish</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Blue</th>
      <td>{% include "styleguide/colors-color.html" with name="blue-dd" %}</td>
      <td>{% include "styleguide/colors-color.html" with name="blue-d" %}</td>
      <td>{% include "styleguide/colors-color.html" with name="blue" %}</td>
      <td>{% include "styleguide/colors-color.html" with name="blue-l" %}</td>
      <td>{% include "styleguide/colors-color.html" with name="blue-ll" %}</td>
      <td>{% include "styleguide/colors-color.html" with name="blue-w" %}</td>
    </tr>
    <tr>
      <th>Green</th>
      <td>{% include "styleguide/colors-color.html" with name="green-dd" %}</td>
      <td>{% include "styleguide/colors-color.html" with name="green-d" %}</td>
      <td>{% include "styleguide/colors-color.html" with name="green" %}</td>
      <td>{% include "styleguide/colors-color.html" with name="green-l" %}</td>
      <td>{% include "styleguide/colors-color.html" with name="green-ll" %}</td>
      <td>{% include "styleguide/colors-color.html" with name="green-w" %}</td>
    </tr>
    <tr>
      <th>Red</th>
      <td>{% include "styleguide/colors-color.html" with name="red-dd" %}</td>
      <td>{% include "styleguide/colors-color.html" with name="red-d" %}</td>
      <td>{% include "styleguide/colors-color.html" with name="red" %}</td>
      <td>{% include "styleguide/colors-color.html" with name="red-l" %}</td>
      <td>{% include "styleguide/colors-color.html" with name="red-ll" %}</td>
      <td>{% include "styleguide/colors-color.html" with name="red-w" %}</td>
    </tr>
    <tr>
      <th>Gray</th>
      <td>{% include "styleguide/colors-color.html" with name="gray-dd" %}</td>
      <td>{% include "styleguide/colors-color.html" with name="gray-d" %}</td>
      <td>{% include "styleguide/colors-color.html" with name="gray" %}</td>
      <td>{% include "styleguide/colors-color.html" with name="gray-l" %}</td>
      <td>{% include "styleguide/colors-color.html" with name="gray-ll" %}</td>
      <td>{% include "styleguide/colors-color.html" with name="gray-w" %}</td>
    </tr>
  </tbody>
</table>

<h3 class="sg-h">Special colors</h3>
<table class="table sg-table">
  <tbody>
    <tr>
      <td>{% include "styleguide/colors-color.html" with name="facebook" %}</td>
      <td>{% include "styleguide/colors-color.html" with name="gplus" %}</td>
      <td>{% include "styleguide/colors-color.html" with name="twitter" %}</td>
      <td>{% include "styleguide/colors-color.html" with name="linkedin" %}</td>
      <td>&mdash;</td>
      <td>&mdash;</td>
      <td>&mdash;</td>
    </tr>
  </tbody>
</table>

<h3 class="sg-h">Color usage</h3>
<table class="table sg-table">
  <tbody>
    <tr>
      <td>{% include "styleguide/colors-usage.html" with color="chv-color-blue" %}</td>
      <td>{% include "styleguide/colors-usage.html" with bg="chv-bg-blue" %}</td>
      <td>{% include "styleguide/colors-usage.html" with hover="chv-hover-blue" %}</td>
      <td>&mdash;</td>
      <td>&mdash;</td>
      <td>&mdash;</td>
      <td>&mdash;</td>
    </tr>
  </tbody>
</table>
