{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% load getkey from poleno.utils %}

{% comment %}
 %
 % Context:
 %  -- sg: dict with defined colors
 %  -- bg: string
 %  -- ink: string
 %
{% endcomment %}

{% with sassbg="$chv-color-"|add:bg %}
{% with sasstext="$chv-text-"|add:ink|add:"-on-"|add:bg %}
{% with sasstitle="$chv-title-"|add:ink|add:"-on-"|add:bg %}
{% with sassicon="$chv-icon-"|add:ink|add:"-on-"|add:bg %}
{% with sasslink="$chv-link-"|add:ink|add:"-on-"|add:bg %}
{% with sasshover="$chv-hover-"|add:ink|add:"-on-"|add:bg %}
  {% if sasstext in sg %}
    {% with bgcolor=sg|getkey:sassbg %}
    {% with textcolor=sg|getkey:sasstext %}
    {% with titlecolor=sg|getkey:sasstitle %}
    {% with iconcolor=sg|getkey:sassicon %}
    {% with linkcolor=sg|getkey:sasslink %}
    {% with hovercolor=sg|getkey:sasshover %}
      <div class="sg-color-combo" style="background: {{ bgcolor }}; color: {{ textcolor }};">
        title: <span style="color: {{ titlecolor }}">{{ titlecolor }}</span><br>
        text: {{ textcolor }}<br>
        link: <span style="color: {{ linkcolor }}">{{ linkcolor }}</span><br>
        hover: <span style="color: {{ hovercolor }}">{{ hovercolor }}</span><br>
        <i class="chv-icon icon-circle" style="color: {{ iconcolor }}"></i>
        icon: <span style="color: {{ iconcolor }}">{{ iconcolor }}</span><br>
        on: {{ bgcolor }}<br>
      </div>
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
  {% else %}
    &mdash;
  {% endif %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
