{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% load split from poleno.utils %}
{% load sass_variables from chcemvediet.styleguide %}

{% comment %}
 %
 % Context:
 %  -- sg: dict with defined colors
 %
{% endcomment %}


<h3>Color combinations</h3>
<table class="table sg-table">
  <thead>
    <tr>
      <td></td>
      <td>Default ink</td>
      <td>Blue ink</td>
      <td>Green ink</td>
      <td>Red ink</td>
      <td>Inverse ink</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>On blue</th>
      <td>{% include "styleguide/colors-combo.html" with bg="blue-w" ink="default" %}</td>
      <td>{% include "styleguide/colors-combo.html" with bg="blue-w" ink="blue" %}</td>
      <td>{% include "styleguide/colors-combo.html" with bg="blue-w" ink="green" %}</td>
      <td>{% include "styleguide/colors-combo.html" with bg="blue-w" ink="red" %}</td>
      <td>{% include "styleguide/colors-combo.html" with bg="blue"   ink="default" %}</td>
    </tr>
    <tr>
      <th>On green</th>
      <td>{% include "styleguide/colors-combo.html" with bg="green-w" ink="default" %}</td>
      <td>{% include "styleguide/colors-combo.html" with bg="green-w" ink="blue" %}</td>
      <td>{% include "styleguide/colors-combo.html" with bg="green-w" ink="green" %}</td>
      <td>{% include "styleguide/colors-combo.html" with bg="green-w" ink="red" %}</td>
      <td>{% include "styleguide/colors-combo.html" with bg="green"   ink="default" %}</td>
    </tr>
    <tr>
      <th>On green</th>
      <td>{% include "styleguide/colors-combo.html" with bg="red-w" ink="default" %}</td>
      <td>{% include "styleguide/colors-combo.html" with bg="red-w" ink="blue" %}</td>
      <td>{% include "styleguide/colors-combo.html" with bg="red-w" ink="green" %}</td>
      <td>{% include "styleguide/colors-combo.html" with bg="red-w" ink="red" %}</td>
      <td>{% include "styleguide/colors-combo.html" with bg="red"   ink="default" %}</td>
    </tr>
    <tr>
      <th>On gray</th>
      <td>{% include "styleguide/colors-combo.html" with bg="gray-w" ink="default" %}</td>
      <td>{% include "styleguide/colors-combo.html" with bg="gray-w" ink="blue" %}</td>
      <td>{% include "styleguide/colors-combo.html" with bg="gray-w" ink="green" %}</td>
      <td>{% include "styleguide/colors-combo.html" with bg="gray-w" ink="red" %}</td>
      <td>{% include "styleguide/colors-combo.html" with bg="gray"   ink="default" %}</td>
    </tr>
    <tr>
      <th>On white</th>
      <td>{% include "styleguide/colors-combo.html" with bg="white" ink="default" %}</td>
      <td>{% include "styleguide/colors-combo.html" with bg="white" ink="blue"%}</td>
      <td>{% include "styleguide/colors-combo.html" with bg="white" ink="green"%}</td>
      <td>{% include "styleguide/colors-combo.html" with bg="white" ink="red"%}</td>
      <td>{% include "styleguide/colors-combo.html" with bg="black" ink="default"%}</td>
    </tr>
  </tbody>
</table>
