{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% load sass_variables from chcemvediet.styleguide %}

{% comment %}
 %
 % Context:
 %  -- None
 %
{% endcomment %}


<div class="sg-container">
  <h2 id="colors">
    <a href="#colors-collapse" class="collapsed" data-toggle="collapse">Colors</a>
  </h2>
  <div id="colors-collapse" class="collapse">
    {% with sg="main/css/vars.sass"|sass_variables %}
      {% include "styleguide/colors-colors.html" %}
      {% include "styleguide/colors-schemes.html" %}
    {% endwith %}
  </div>
</div>
