{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% load lorem from poleno.utils %}

{% comment %}
 %
 % Context:
 %  -- label: string
 %  -- group_class: string
 %  -- help: boolean
 %
{% endcomment %}


{% with field_id=idgenerator.next%}
  <div class="form-group {{ group_class }}">
    <label class="control-label col-sm-3" for="{{ field_id }}">
      {{ label|default:"Simple input" }}
    </label>
    <div class="col-sm-9">
      <input id="{{ field_id }}" class="form-control" type="text" placeholder="Simple input box">
      {% if help %}<span class="help-block">{% lorem 3 %}</span>{% endif %}
    </div>
  </div>
{% endwith %}
