{# vim: set filetype=htmldjango shiftwidth=2 :#}

{% comment %}
 %
 % Context:
 %  -- None
 %
{% endcomment %}


<h2 id="icons">Icons</h2>
<div class="clearfix">
  {% include "styleguide/icons-icon.html" with icon="icon-search" %}
  <br>
  {% include "styleguide/icons-stacked.html" with icons="icon-chv-horiz-40,icon-chv-horiz-70,icon-chv-horiz-100" %}
  {% include "styleguide/icons-stacked.html" with stack="chv-icon-rotate-90" icons="icon-chv-horiz-40,icon-chv-horiz-70,icon-chv-horiz-100" %}
</div>
