{# vim: set filetype=htmldjango shiftwidth=2 :#}

{% comment %}
 %
 % Context:
 %  -- None
 %
{% endcomment %}


{% with collapse_id=idgenerator.next checkbox_id=idgenerator.next %}
  <div class="sg-container">
    <h2 id="misc">
      <a href="#{{ collapse_id }}" class="collapsed" data-toggle="collapse">Misc</a>
    </h2>
    <div id="{{ collapse_id }}" class="collapse chv-scheme-white">
      <input id="{{ checkbox_id }}" class="sg-checkbox" type="checkbox" checked="checked">
      <label for="{{ checkbox_id }}">Show baseline</label>
      <div class="sg-grid">
        {% include "styleguide/misc-breadcrumbs.html" %}
        {% include "styleguide/misc-bigstats.html" %}
        {% include "styleguide/misc-blog.html" %}
        {% include "styleguide/misc-carousels.html" %}
      </div>
    </div>
  </div>
{% endwith %}
