{# vim: set filetype=htmldjango shiftwidth=2 :#}

{% comment %}
 %
 % Context:
 %  -- None
 %
{% endcomment %}


<h3 class="sg-h">Big number statics</h3>
<div class="row">
  <div class="col-sm-4">
    <div class="chv-bigstats">
      <div class="chv-bigstats-icon">
        <span class="chv-icon-stack">
          <i class="chv-icon icon-circle"></i>
          <i class="chv-icon chv-icon-half chv-icon-inv icon-building"></i>
        </span>
      </div>
      <div class="chv-bigstats-stats">532</div>
      <div class="chv-bigstats-text">Inštitúcií <br>v databáze</div>
    </div>
  </div>
</div>
