{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% extends "styleguide/navbar-base.html" %}

{% comment %}
 %
 % Context:
 %  -- id_specimen: string
 %
{% endcomment %}


{% block title %}Navbar menus{% endblock %}

{% block primary-search %}{% endblock %}
{% block primary-right-items %}
  {% include "styleguide/navbar-menus-items.html" with right=True %}
{% endblock %}
{% block secondary-left-items %}
  {% include "styleguide/navbar-menus-items.html" %}
{% endblock %}
{% block secondary-right-items %}
  {% include "styleguide/navbar-menus-items.html" with right=True %}
{% endblock %}
