{# vim: set filetype=htmldjango shiftwidth=2 :#}

{% comment %}
 %
 % Context:
 %  -- None
 %
{% endcomment %}


<div class="sg-container">
  <h3 class="sg-h">First navbar &ndash; Brand</h3>
</div>
<nav class="chv-navbar chv-navbar-first">
  <div class="container">
    <div class="chv-navbar-items">
      <div class="chv-navbar-item chv-navbar-brand">
        <div class="chv-navbar-item chv-navbar-logo chv-hidden-400">
          <span class="chv-icon-stack">
            <i class="chv-icon icon-chv-horiz-40"></i>
            <i class="chv-icon icon-chv-horiz-70"></i>
            <i class="chv-icon icon-chv-horiz-100"></i>
          </span>
        </div>
        <a href="#">chem<b>vediet</b>.<tt>sk</tt></a>
        <span class="badge chv-hidden-400">beta</span>
      </div>
    </div>
  </div>
</nav>
