{# vim: set filetype=htmldjango shiftwidth=2 :#}

{% comment %}
 %
 % Context:
 %  -- None
 %
{% endcomment %}


<div class="sg-container">
  <h2 id="navbar">
    <a href="#navbar-collapse" class="collapsed" data-toggle="collapse">Navbar</a>
  </h2>
</div>
<div id="navbar-collapse" class="collapse">
  {% include "styleguide/navbar-anonymous.html" with id_specimen="sg-navbar-anonymous" %}
  {% include "styleguide/navbar-authentificated.html" with id_specimen="sg-navbar-authentificated" %}
  {% include "styleguide/navbar-menus.html" with id_specimen="sg-navbar-menus" %}
</div>
