{# vim: set filetype=htmldjango shiftwidth=2 :#}

{% comment %}
 %
 % Context:
 %  -- id_specimen: string
 %
{% endcomment %}


<div class="sg-container">
  <h4>{% block title %}{% endblock %}</h4>
</div>
<div id="{{ id_specimen }}" class="sg-specimen">
  {% block primary %}
    <nav class="navbar chv-navbar-primary">
      <div class="container">
        {% block primary-brand %}
          <div class="chv-brand">
            <a href="#">chem<b>vediet</b>.<tt>sk</tt></a>
            <span class="badge">beta</span>
          </div>
        {% endblock %}
        {% block primary-right %}
          <ul class="chv-navbar-primary-right">
            {% block primary-right-items %}{% endblock %}
          </ul>
        {% endblock %}
        {% block primary-search %}
          <form class="navbar-form chv-navbar-search collapse pull-right" action=".">
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Hľadaj...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit">
                    <span class="hidden-xs"><span class="glyphicon glyphicon-search"></span></span>
                    <span class="visible-xs">Hľadaj</span>
                  </button>
                </span>
              </div>
            </div>
          </form>
        {% endblock %}
      </div>
    </nav>
  {% endblock %}
  {% block secondary %}
    <nav class="navbar chv-navbar-secondary">
      <div class="container">
        {% block secondary-left %}
          <button type="button" class="chv-navbar-secondary-toggle collapsed" data-toggle="collapse"
                  data-target="#{{ id_specimen }} .chv-navbar-secondary-left">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <ul class="chv-navbar-secondary-left collapse">
            {% block secondary-left-items %}{% endblock %}
          </ul>
        {% endblock %}
        {% block secondary-right %}
          <ul class="chv-navbar-secondary-right">
            {% block secondary-right-items %}{% endblock %}
          </ul>
        {% endblock %}
      </div>
    </nav>
  {% endblock %}
</div>
