{# vim: set filetype=htmldjango shiftwidth=2 :#}

{% comment %}
 %
 % Context:
 %  -- None
 %
{% endcomment %}


<div class="sg-container">
  <h2 id="panels">
    <a href="#panels-collapse" class="collapsed" data-toggle="collapse">Panels</a>
  </h2>
  <div id="panels-collapse" class="collapse">
    <input id="sg-panels-grid" class="sg-checkbox" type="checkbox" checked="checked">
    <label for="sg-panels-grid">Show baseline</label>
    <div class="sg-grid">
      <div class="row">
        <div class="col-md-4">
          {% include "styleguide/panels-panel.html" with class="chv-panel-default" %}
        </div>
        <div class="col-md-4">
          {% include "styleguide/panels-panel.html" with class="chv-panel-gray" %}
        </div>
      </div>
    </div>
  </div>
</div>
