{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% load lorem from poleno.utils %}

{% comment %}
 %
 % Context:
 %  -- class: strong
 %
{% endcomment %}


<p class="text-center">{{ class }}</p>
<div class="panel {{ class }}">
  <div class="panel-body">
    <h3>Heading 3</h3>
    <p>{% lorem 3 %} <a href="#">Link on the panel.</a></p>
    <ul class="chv-icon-ul">
      <li>
        <i class="chv-icon chv-icon-li chv-icon-lg icon-ok"></i>
        Icon on panel
      </li>
      <li>
        <span class="chv-icon-stack chv-icon-li chv-icon-lg">
          <i class="chv-icon icon-circle"></i>
          <i class="chv-icon chv-icon-inv icon-ok"></i>
        </span>
        Inverse stacked icon
      </li>
    </ul>
  </div>
</div>
