{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% load lorem from poleno.utils %}

{% comment %}
 %
 % Context:
 %  -- None
 %
{% endcomment %}


<div class="sg-container">
  <h2 id="typography">
    <a href="#typography-collapse" class="collapsed" data-toggle="collapse">Typography</a>
  </h2>
  <div id="typography-collapse" class="collapse">
    <input id="sg-typography-grid" class="sg-checkbox" type="checkbox" checked="checked">
    <label for="sg-typography-grid">Show baseline</label>
    <div class="sg-grid">
      <div class="row">
        <div class="col-md-4">
          <h1>Heading 1</h1>
          <p class="lead">Lead paragraph. {% lorem 3 %}</p>
          <p>{% lorem 7 %}</p>
          <h2>Heading 2 - Dolor sit amet, consectetur adipisicing elit</h2>
          <p>{% lorem 8 %}</p>
          <h3>Heading 3 - Dolor sit amet</h3>
          <p>{% lorem 10 %}</p>
        </div>
        <div class="col-md-4">
          <div class="chv-height-h1"></div>
          <p>{% lorem 3 %}</p>
          <p>{% lorem 7 %}</p>
          <h2>Heading 2 - Dolor sit amet</h2>
          <p>{% lorem 10 %}</p>
          <h3>Heading 3 - Dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt</h3>
          <p>{% lorem 8 %}</p>
        </div>
        <div class="col-md-4">
          <h3 class="chv-adjust-to-h1">Heading 3</h3>
          <p>{% lorem 8 %}</p>
          <ul>
            <li>List with even items</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt</li>
          </ul>
          <p>{% lorem 7 %}</p>
          <ul class="chv-icon-ul">
            <li>
              <i class="chv-icon chv-icon-li chv-icon-lg icon-ok"></i>
              List with odd items
            </li>
            <li>
              <i class="chv-icon chv-icon-li chv-icon-lg icon-ok"></i>
              Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor
              incididunt
            </li>
            <li>
              <i class="chv-icon chv-icon-li chv-icon-lg icon-ok"></i>
              Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor
              incididunt
            </li>
          </ul>
          <p>{% lorem 3 %}</p>
        </div>
      </div>
    </div>
  </div>
</div>
