{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% load lorem from poleno.utils %}

{% comment %}
 %
 % Context:
 %  -- None
 %
{% endcomment %}


<div class="sg-container">
  <h2 id="typography">
    <a href="#typography-collapse" class="collapsed" data-toggle="collapse">Typography</a>
  </h2>
  <div id="typography-collapse" class="collapse">
    <input id="sg-typography-grid" class="sg-checkbox" type="checkbox" checked="checked">
    <label for="sg-typography-grid">Show baseline</label>
    <div class="sg-grid">
      <div class="row">
        <div class="col-md-4">
          <h1>Heading 1</h1>
          <p class="lead">Lead paragraph. {% lorem 3 %}</p>
          <p>{% lorem 7 %}</p>
          <h2>Heading 2 - Dolor sit amet, consectetur adipisicing elit</h2>
          <p>{% lorem 10 %}</p>
          <p>{% lorem 14 %}</p>
          <h3>Heading 3 - Dolor sit amet</h3>
          <p>{% lorem 8 %}</p>
        </div>
        <div class="col-md-4 chv-above-4">
          <p>{% lorem 3 %}</p>
          <p>{% lorem 7 %}</p>
          <h2>Heading 2 - Dolor sit amet</h2>
          <div class="form-horizontal">
            <div class="form-group">
              <div class="col-sm-12">
                <input class="form-control" type="text" placeholder="Simple input box">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="input-group">
                  <span class="input-group-addon"><i class="chv-icon icon-mail"></i></span>
                  <input class="form-control" type="text" placeholder="Input box with addons">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                      <i class="chv-icon icon-search"></i>
                    </button>
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="radio">
                  <label><input type="radio" name="typography-radio">Radio</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="typography-radio">Second</label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="checkbox">
                  <label><input type="checkbox">{% lorem 3 %}</label>
                </div>
              </div>
            </div>
            <button class="btn btn-default" type="button">Button</button>
          </div>
          <h3>Heading 3 - Dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt</h3>
          <p>{% lorem 8 %}</p>
        </div>
        <div class="col-md-4 chv-above-2">
          <h3>Heading 3</h3>
          <p>{% lorem 8 %}</p>
          <ul>
            <li>List with even items</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt</li>
          </ul>
          <p>{% lorem 7 %}</p>
          <ul class="chv-icon-ul">
            <li>
              <i class="chv-icon chv-icon-li chv-icon-lg icon-ok"></i>
              List with odd items
            </li>
            <li>
              <i class="chv-icon chv-icon-li chv-icon-lg icon-ok"></i>
              Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor
              incididunt
            </li>
            <li>
              <i class="chv-icon chv-icon-li chv-icon-lg icon-ok"></i>
              Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor
              incididunt
            </li>
          </ul>
          <p>{% lorem 3 %}</p>
          <p>{% lorem 12 %}</p>
        </div>
      </div>
    </div>
  </div>
</div>
