{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% load trans from i18n %}
{% load url method call_with from poleno.utils %}

{% comment %}
 %
 % Context:
 %  -- inforequest: chcemvediet.apps.inforequests.models.Inforequest
 %  -- branch: chcemvediet.apps.inforequests.models.Branch
 %  -- action: chcemvediet.apps.inforequests.models.Action
 %  -- forloop
 %
{% endcomment %}


<div class="panel panel-default">
  <div class="panel-heading">
    <div class="pull-right">
      {% if forloop.last and not inforequest.closed and not inforequest.has_undecided_emails %}
        {% if action.can_applicant_snooze %}
          <button class="btn btn-primary pln-ajax pln-ajax-modal-once pln-with-tooltip"
                  type="button" action="{% url 'inforequests:snooze' action=action %}"
                  data-type="html" data-target="#snooze-{{ action.pk }}-modal"
                  data-fail-target="#ajax-fail-modal" data-toggle="tooltip"
                  title="{% spaceless %}
                    {% include "inforequests/detail/tooltips/snooze.txt" %}
                    {% endspaceless %}">
            {% trans 'inforequests:detail:action:snooze' %}
          </button>
          <span id="snooze-{{ action.pk }}-modal" class="modal pln-ajax-operations fade"
                data-fail-target="#ajax-fail-modal"></span>
        {% endif %}
        {% if branch.can_add_clarification_response %}
          <a class="btn btn-primary pln-with-tooltip" data-toggle="tooltip"
             href="{% url 'inforequests:clarification_response' branch=branch %}"
             title="{% spaceless %}
               {% include "inforequests/detail/tooltips/clarification_response.txt" %}
               {% endspaceless %}">
            {% trans 'inforequests:detail:action:clarification_response' %}
          </a>
        {% endif %}
        {% if branch.can_add_appeal %}
          <a class="btn btn-primary pln-with-tooltip" data-toggle="tooltip"
             href="{% url 'inforequests:appeal' branch=branch %}"
             title="{% spaceless %}
               {% include "inforequests/detail/tooltips/appeal.txt" %}
               {% endspaceless %}">
            {% trans 'inforequests:detail:action:appeal' %}
          </a>
        {% endif %}
      {% endif %}
      {% if action.content %}
        <button type="button" class="btn btn-default pln-print"
                data-target="#print-a{{ action.pk }}">
          <span class="glyphicon glyphicon-print"></span>
          {% trans 'inforequests:detail:action:print' %}
        </button>
      {% endif %}
    </div>
    <h4>{{ action.get_type_display }}</h4>
  </div>
  <div class="panel-body">
    {% if action.legal_date %}
      <div class="row">
        <p class="col-sm-3 text-right">{% trans 'inforequests:detail:action:legal_date' %}:</p>
        <p class="col-sm-9">{{ action.legal_date }}</p>
      </div>
    {% endif %}
    {% if action.sent_date %}
      <div class="row">
        <p class="col-sm-3 text-right">{% trans 'inforequests:detail:action:sent_date' %}:</p>
        <p class="col-sm-9">{{ action.sent_date }}</p>
      </div>
    {% endif %}
    {% if action.delivered_date %}
      <div class="row">
        <p class="col-sm-3 text-right">{% trans 'inforequests:detail:action:delivered_date' %}:</p>
        <p class="col-sm-9">{{ action.delivered_date }}</p>
      </div>
    {% endif %}
    {% if action.type == ACTION_TYPES.EXTENSION %}
      <div class="row">
        <p class="col-sm-3 text-right">{% trans 'inforequests:detail:action:extension' %}:</p>
        <p class="col-sm-9">{% include "inforequests/detail/texts/extension.html" %}</p>
      </div>
    {% endif %}
    {% if forloop.last and action.deadline  %}
      <div class="row">
        <p class="col-sm-3 text-right">{% trans 'inforequests:detail:action:deadline' %}:</p>
        <p class="col-sm-9">{% include "inforequests/detail/texts/deadline.html" %}</p>
      </div>
    {% endif %}
    {% if action.file_number %}
      <div class="row">
        <p class="col-sm-3 text-right">{% trans 'inforequests:detail:action:file_number' %}:</p>
        <p class="col-sm-9">{{ action.file_number }}</p>
      </div>
    {% endif %}
    {% if action.email %}
      <div class="row">
        <p class="col-sm-3 text-right">{% trans 'inforequests:detail:action:email_from' %}:</p>
        <p class="col-sm-9">{{ action.email.from_formatted }}</p>
      </div>
      <div class="row">
        <p class="col-sm-3 text-right">{% trans 'inforequests:detail:action:email_to' %}:</p>
        <div class="col-sm-9">
          {% for recipient in action.email.recipients %}
            <p>
              {% if recipient.mail == action.email.received_for %}
                <b>{{ recipient.formatted }}</b>
              {% else %}
                <span>{{ recipient.formatted }}</span>
              {% endif %}
              {% if recipient.status == RECIPIENT_STATUSES.QUEUED %}
                <span class="label label-default pln-with-tooltip" data-toggle="tooltip"
                      data-placement="right" title="{% spaceless %}
                        {% include "inforequests/detail/tooltips/email_queued.txt" %}
                        {% endspaceless %}">
                  {{ recipient.get_status_display }}
                </span>
              {% elif recipient.status == RECIPIENT_STATUSES.REJECTED %}
                <span class="label label-danger pln-with-tooltip" data-toggle="tooltip"
                      data-placement="right" title="{% spaceless %}
                        {% include "inforequests/detail/tooltips/email_rejected.txt" %}
                        {% endspaceless %}">
                  {{ recipient.get_status_display }}
                </span>
              {% elif recipient.status == RECIPIENT_STATUSES.INVALID %}
                <span class="label label-danger pln-with-tooltip" data-toggle="tooltip"
                      data-placement="right" title="{% spaceless %}
                        {% include "inforequests/detail/tooltips/email_invalid.txt"   %}
                        {% endspaceless %}">
                  {{ recipient.get_status_display }}
                </span>
              {% elif recipient.status == RECIPIENT_STATUSES.SENT %}
                <span class="label label-info pln-with-tooltip" data-toggle="tooltip"
                      data-placement="right" title="{% spaceless %}
                        {% include "inforequests/detail/tooltips/email_sent.txt" %}
                        {% endspaceless %}">
                  {{ recipient.get_status_display }}
                </span>
              {% elif recipient.status == RECIPIENT_STATUSES.DELIVERED %}
                <span class="label label-success pln-with-tooltip" data-toggle="tooltip"
                      data-placement="right" title="{% spaceless %}
                        {% include "inforequests/detail/tooltips/email_delivered.txt" %}
                        {% endspaceless %}">
                  {{ recipient.get_status_display }}
                </span>
              {% elif recipient.status == RECIPIENT_STATUSES.OPENED %}
                <span class="label label-success pln-with-tooltip" data-toggle="tooltip"
                      data-placement="right" title="{% spaceless %}
                        {% include "inforequests/detail/tooltips/email_opened.txt" %}
                        {% endspaceless %}">
                  {{ recipient.get_status_display }}
                </span>
              {% endif %}
            </p>
          {% endfor %}
        </div>
      </div>
    {% endif %}
    {% if action.subject %}
      <div class="row">
        <p class="col-sm-3 text-right">{% trans 'inforequests:detail:action:subject' %}:</p>
        <p class="col-sm-9">{{ action.subject }}</p>
      </div>
    {% endif %}
    {% if action.disclosure_level %}
      <div class="row">
        <p class="col-sm-3 text-right">{% trans 'inforequests:detail:action:disclosure_level' %}:</p>
        <p class="col-sm-9">{{ action.get_disclosure_level_display }}</p>
      </div>
    {% endif %}
    {% if action.refusal_reason %}
      <div class="row">
        <p class="col-sm-3 text-right">{% trans 'inforequests:detail:action:refusal_reason' %}:</p>
        <p class="col-sm-9">{{ action.get_refusal_reason_display }}</p>
      </div>
    {% endif %}
    {% if action.attachments %}
      <div class="row">
        <div class="col-sm-3 text-right form-control-static">
          {% trans 'inforequests:detail:action:attachments' %}:
        </div>
        <div class="col-sm-9">
          <div class="pln-attachments clearfix">
            {% for attachment in action.attachments %}
              <div class="pln-attachment">
                <a href="{% url 'inforequests:download_attachment' attachment=attachment %}">
                  {{ attachment.name }}
                </a>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}
    {% if action.content %}
      <div class="chv-action-content">
        <div id="print-a{{ action.pk }}">
          {% if action.content_type == action.CONTENT_TYPES.PLAIN_TEXT %}
            <p class="chv-preline">{{ action.content }}</p>
          {% elif action.content_type == action.CONTENT_TYPES.HTML %}
            {{ action.content|safe }}
          {% endif %}
        </div>
      </div>
    {% endif %}
    {% for sub_branch in inforequest|method:'branches_advanced_by'|call_with:action %}
      <hr>
      <div class="row">
        <p class="col-sm-3 text-right">{% trans 'inforequests:detail:action:advanced_to' %}:</p>
        <div class="col-sm-9">
          <p>
            {{ sub_branch.historicalobligee.official_name }}
          </p>
          <p>
            {{ sub_branch.historicalobligee.street }}<br>
            {{ sub_branch.historicalobligee.zip }} {{ sub_branch.historicalobligee.city }}
          </p>
        </div>
      </div>
      {% include "inforequests/detail/branch.html" with branch=sub_branch %}
    {% endfor %}
  </div>
</div>
