{# vim: set filetype=htmldjango shiftwidth=2 :#}

{% comment %}
 %
 % Context:
 %  -- inforequest: chcemvediet.apps.inforequests.models.Inforequest
 %
{% endcomment %}


<div class="panel panel-border-gray">
  <div class="panel-body">
    <ul class="chv-icon-ul">
      <li>
        <i class="chv-icon chv-icon-li chv-icon-lg icon-doc-inv"></i>
        <strong>{{ inforequest.subject }}</strong>
      </li>
      <li>
        <i class="chv-icon chv-icon-li chv-icon-lg icon-building"></i>
        {{ inforequest.main_branch.historicalobligee.name }}
      </li>
      <li>
        <i class="chv-icon chv-icon-li chv-icon-lg icon-user"></i>
        {{ inforequest.applicant_name }}
      </li>
      <li>
        <i class="chv-icon chv-icon-li chv-icon-lg icon-calendar"></i>
        {{ inforequest.submission_date }}
      </li>
    </ul>
  </div>
</div>
