{# vim: set filetype=htmldjango :#}

{% comment %}
 %
 % Context:
 %  -- branch: chcemvediet.apps.inforequests.models.Branch
 %  -- action: chcemvediet.apps.inforequests.models.Action
 %
{% endcomment %}


{% if action.deadline.is_in_calendar_days %}
  {{ action.deadline.value }} kalendárnych dni od {{ action.deadline.base_date }}
{% else %}
  {{ action.deadline.value }} pracovných dni od {{ action.deadline.base_date }}
{% endif %}
{% if action.deadline.is_obligee_deadline %}
  na odpoveď od inštitúcie
{% elif branch.can_add_clarification_response  %}
  na doplnenie žiadosti
{% elif branch.can_add_appeal %}
  na podanie odvolania
{% endif %}
&mdash;
{% if not action.deadline.is_deadline_missed %}
  Lehota uplynie {{ action.deadline.deadline_date }}.
{% elif not action.deadline.applicant_extension %}
  Lehota uplynula {{ action.deadline.deadline_date }}.
{% elif not action.deadline.is_extended_deadline_missed %}
  Lehota uplynula {{ action.deadline.deadline_date }}.<br>
  Uviedli, že ešte počkáte {{ action.deadline.applicant_extension }} kalendárne dni od uplynutia
  lehoty, tj. do {{ action.deadline.extended_deadline_date }}.
{% else %}
  Lehota uplynula {{ action.deadline.deadline_date }}.<br>
  Uviedli, že ešte počkáte {{ action.deadline.applicant_extension }} kalendárne dni od uplynutia
  lehoty, ale aj tie už uplynuli.
{% endif %}
